@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(233,235,238)!important;


}
header{
    width: auto;
    height: auto;
}
.div{
  display: block;
}
#root{
  margin: 0;
  top:0;
}
h1 {
 font-size: 14px;
  margin:0;
}

h2 {
  font-size: 12px;
  margin:0;
}
/*********NAVBAR BODY ***************/
.navbarbody {
  width: 100%;
  z-index: 10;
  border-bottom: 1px rgba(216,216,216,1) solid;
  position: fixed;
  top: 0;
  background: white;
  height: 10%;
  color: #FFFFFF;

}
.icon a{
    color: #ffffff;
}
.icon{
    order:1;
    align-content: flex-end;
    margin: 0 0 0 0%;
    padding:3% 3%;
}
.logo{

    margin:0% 5%;
}
.logo img{
    width: 20%;
}
.navbarbody .navbar{
  display: flex;
  background: rgba(64,183,223,1);
  background-color: rgba(64,183,223,1);
  margin: 0 0;
  box-sizing: border-box;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  ustify-content:center;

}
.navbarbody .navbarinverse{
    display: flex;
    background: rgba(64,183,223,1);
    background-color: rgba(64,183,223,1);
    margin: 0 0;
    box-sizing: border-box;
    position: relative;
    flex-wrap: nowrap;
    align-content: sp;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    justify-content:flex-end;

}
.content .header img{
    width: 20%;
    position: absolute;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;

}

/*********NAVBAR BODY ***************/
.content{
  padding:40px  0 40px 0;
  height: auto;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.trip-content{
  padding-top: 20px;
  display: flex;
  overflow: auto;
  align-items: flex-start;
  height:100%;
  width: auto;
  position: relative;


}
.guide-recommence{
    display: flex;
    align-items: flex-start;
    flex: 0 auto;
    width: 100%;
    height: auto;
    flex-wrap:nowrap;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    padding: 0 0 3% 3%;
    margin: 0 0 -35px 0;
}

.guide-content{
    padding-top: 20px;
    display: flex;
    overflow: auto;
    align-items: flex-start;
    height:100%;
    width: auto;
    position: relative;
}
.guiderecommence{
    padding-top: 20px;
    display: flex;
    overflow: auto;
    align-items: flex-start;
    height:100%;
    width: auto;
    position: relative;
    font-size:0.5em;

}
.trip-guide a{
    width: 100%;
}
.guiderecommence .img{
   width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
}

.guide-placedhold{
    flex: 0 0 auto;
    width: 30%;
    margin: 0 20px 0 0;
    padding: 0 0 10% 0;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.container{
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    margin: 15% 0%;
    bottom: 20px;


}
.imgmytrip{
    padding-top: 50%;
    background-size: cover;
}
 .step{

    padding-bottom: 10%;


}
 .mytripcontent{
     display: flex;
     color:#000000;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

.placed-trip-guide{
  display: flex;
  align-items: flex-start;
  flex: 0 auto;
  width: 100%;
  height: auto;
  flex-wrap:nowrap;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  padding: 0 0 3% 3%;
  margin: 0 0 -35px 0;

}
.form-myplan{
    padding: 3% 3%;
}
.recommencetripbyguide{
  padding: 5% 5%;
}
.recommencetripbyguide h1{
  font-size: 2em;
}
.recommencetripbyguide h2{
    font-size: 1.8em;
}
 .trip-guide{
  flex: 0 0 auto;
   width: 97%;
   height: 100%;
   margin: 0 20px 0 0;
   padding: 0 0 10% 0;
   display: flex;
   align-content: flex-start;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;

}
.trip-guide.pictureshowdown{
  width: 100%;
  height: 50%;
}
.trip-content .img{
  width: 100%;
  padding-top: 50%;
  position: relative;
  background-size: cover;


}
.content .header{
  background-image: url('http://static.asiawebdirect.com/m/phuket/portals/phuket-com/shared/teasersL/TOP10/10-best-tours/teaserMultiLarge/imageHilight/best-tours-phuket-L.jpg');
  padding-top: 50%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
    flex-direction: column-reverse;


}
@media screen and (min-width: 850px){
  .content.header{
      background-size: cover;
  }
}
/*********FOOTER BODY ***************/
.footerbody{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 8;
    border-top: 1px rgba(216,216,216,1) solid;
}
.footerbody .footer{
  flex: 0 auto;
  background-color: white;
  margin: 0 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  align-items: baseline;
    padding-top: 2%;
  width: auto;
  height: 50px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    width: 100%;
}
.footericon{
    width: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    height: 100%;
}
/*********FOOTER BODY ***************/
/*********CBT****************/
/*IN TRIP*/
.trip-image .img{
    width: 100%;
    background-size: cover;
    padding-top: 50%;
}
.trip-name{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.trip-name h1{
    font-size: 2em;
}
.description {
    padding: 3% 3%;
}
.schedule{
    padding: 3% 5%;

}
.schedule h1{
    font-size: 2em;
}
.schedule-placed{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-bottom: 1px rgba(216,216,216,1) solid;
    justify-content:center
}
.shcedule-placed .flex{
   width: 100%;
   display: inline-flex;

}
.time{
    margin: 0% 3%;
    width: 50%;
}
.description-time{
    width: 50%;
}
.guide{
    display: flex;
    margin:3% 5%;
    justify-content: flex-start;
    flex-direction: column;
}
.guide h1{
    font-size: 2em;
}
.guideprofile{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 5% 5%;


}
.guideprofile p{
    align-self: center;
    margin: 5% 5%;
}
.guideprofile .img{
    background-size: cover;
    padding: 10%;
    border-radius: 50%;
}
.bookingtrip{
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
    padding-bottom: 3%;
    justify-content: center;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    padding: 5% 5%;
    margin: 5% 5%;
}

.steps-action {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

.step-antd{
    padding: 5% 10%;
}
.inputnumber{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.inputdetail{
    display: flex;
    flex-direction: column;
}
.trip-cost{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    margin: 5% 5%;
}
.trip-cost-detail{
    display: flex;
    flex-direction: row;;
    align-content: flex-start;
    justify-content: space-between;
}

/*@media (max-width: 480px) {*/
    /*.ant-steps-horizontal.ant-steps-label-horizontal {*/
        /*display: flex!important;*/
    /*}*/
/*}*/
/***********FACEBOOK***************/
.facebook{
    display: flex;
    background:#FFFFFF;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.textwelcome{
    padding-top: 20%;
    padding-bottom: 20%;
    margin: 5%;
}
.textwelcome .welcometext{
    font-size: 2em;
    display: inline-block;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.listtrip{
    display: flex;
    align-content: center;
    flex-direction: row;
    align-content: space-around;
    margin: 3% 3%;
}

/***********FACEBOOK***************/
.createtrip{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 5%;
    padding: 5% 0%;
}
.timeline {
    margin:5% 5%;
}
.card-trip{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin: 0 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 2;
}
.card-trip-header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 10px 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin: 0 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.card-tripimgae{

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 100%;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin: 0 0 0 20px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.image-trip{
    width: 80px;
    height: 56px;
    border-radius: 2px;
    margin: 0 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 0;
    box-sizing: border-box;
}
.activitiesshowdown{
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  text-align: center;
}
.activitiesshowdown img{
    margin: 5% 5%;
}
.content-header{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}